body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.but100 {
	width: 100px;
}

li {
	margin-top: 30px;
	text-align: center;
}

	li lable {
		width: 150px;
	}
